/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  
    "Times New Roman" ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@font-face {
  font-family: "Nirmala";
  src: local("Nirmala"), url("./assets/font/nirmala.ttf") format("truetype");
  /* font-weight: normal; */
}
body {
  padding: 0.5em;
  /* font-family: "Nirmala", "Tinos", serif; */
}
p {
  font-size: 11px;
}
@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin-bottom: 0mm;
    /* change the margins as you want them to be. */
  }
}

iframe {
  display: block; /* iframes are inline by default */
  background: #000;
  border: none; /* Reset default border */
  height: 50vh; /* Viewport-relative units */
  width: 80vw;
}
